footer {
  @apply pb-20;

  .container {
    @apply flex items-center justify-between border-t border-black mt-8 text-sm;

    .logo {
      @apply bg-white mt-5;

      width: 60px;
      height: 60px;
      mask-size: contain;
      mask-repeat: no-repeat;
      background-position: center;
      mask-image: url("/images/logo.svg");
    }
  }
}
