header {
  @apply bg-no-repeat bg-cover bg-center pb-20;

  background-image: url("/images/background.svg");

  .logo {
    background-size: contain;
    background-image: url("/images/logo.svg");
  }

  nav {
    @apply mx-4;

    a {
      @apply flex items-center text-black text-sm font-semibold;
    }
  }
}
