@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Galano Grotesque Regular";
  src: local("Galano Grotesque Regular"), url("/fonts/GalanoGrotesqueRegular.woff") format("woff");
}
