@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-cyan-100;
  }

  h1 {
    @apply text-4xl font-semibold;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  h3 {
    @apply text-xl font-semibold;
  }

  a {
    @apply text-red-500;
  }

  a:hover {
    text-decoration: underline;
  }

  @font-face {
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-family: "Galano Grotesque Regular";
    src: local("Galano Grotesque Regular"), url("/fonts/GalanoGrotesqueRegular.woff") format("woff");
  }

  @font-face {
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    font-family: "Galano Grotesque Meduim";
    src: local("Galano Grotesque Meduim"), url("/fonts/GalanoGrotesqueMedium.woff") format("woff");
  }

  @font-face {
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    font-family: "Galano Grotesque SemiBold";
    src: local("Galano Grotesque SemiBold"), url("/fonts/GalanoGrotesqueSemiBold.woff") format("woff");
  }

  @font-face {
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    font-family: "Galano Grotesque Bold";
    src: local("Galano Grotesque Bold"), url("/fonts/GalanoGrotesqueBold.woff") format("woff");
  }
}
