@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-cyan-100;
  }

  h2 {
    @apply text-4xl font-semibold;
  }

  h3 {
    @apply text-xl font-semibold;
  }

  @font-face {
    font-style: normal;
    font-weight: normal;
    font-family: "Galano Grotesque Regular";
    src: local("Galano Grotesque Regular"), url("/fonts/GalanoGrotesqueRegular.woff") format("woff");
  }

  @font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "Galano Grotesque Heavy";
    src: local("Galano Grotesque Heavy"), url("/fonts/GalanoGrotesqueHeavy.woff") format("woff");
  }

  @font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "Galano Grotesque SemiBold";
    src: local("Galano Grotesque SemiBold"), url("/fonts/GalanoGrotesqueSemiBold.woff") format("woff");
  }

  @font-face {
    font-weight: bold;
    font-style: normal;
    font-family: "Galano Grotesque Bold";
    src: local("Galano Grotesque Bold"), url("/fonts/GalanoGrotesqueBold.woff") format("woff");
  }
}
